.arrow {
    width: 0;
    margin: 0 auto;
    border: 3px solid #EEE;
    height: 120px;
}

.big-button {
    font-size: 20px;
    line-height: 2;
    color: #FFF;
    background: #000;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px #000;
    }
}

.add {
    color: #000;
    background: #EEE;
    margin-left: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 2px 10px;
}

.inactive-button {
    background: #888;
    cursor: not-allowed;

    .add {
        display: none;
    }

    &:hover {
        box-shadow: 2px 2px #888;
    }
}