html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
}

button,
input {
  border: none;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}