<mat-toolbar class="header" color="primary">
  <!-- Sidebar button -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>If This Then Ad</span>
  <span class="spacer"></span>

  <!-- Header buttons -->
  <button mat-icon-button mat-button [matMenuTriggerFor]="userMenu" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- User menu -->
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>